.users {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_div {
  width: 60%;
  height: 50%;
  padding: 20px;
  background-color: #def2f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table_div table {
  width: 100%;
  margin-top: 10px;
}

table img {
  width: 100px;
  height: 100px;
}
.search_div {
  width: 50%;
  align-self: center;
  margin-bottom: 10px;
}

.search_div input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-size: large;
  border: none;
  outline: none;
}

.user_options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.add_user {
  padding: 10px;
  font-weight: 700;
  font-size: large;
  color: #fff;
  background-color: #17252a;
  border-radius: 5px;
  cursor: pointer;
}
.user_table th td {
  text-align: center;
  padding: 10px;
}

table,
th,
td {
  border: 1px solid #17252a;
  border-collapse: collapse;
  text-align: center;
}

.edit_user {
  padding: 10px;
  font-weight: 700;
  font-size: large;
  color: #fff;
  background-color: #204755;
  border-radius: 5px;
  cursor: pointer;
}

.delete_user {
  padding: 10px;
  font-weight: 700;
  font-size: large;
  color: #fff;
  background-color: #204755;
  border-radius: 5px;
  cursor: pointer;
}

.edopstions {
  display: flex;
  justify-content: center;
  gap: 10px;
}
